<div class="container my-5">
    <h1 class="mb-3">Add new employee</h1>
    <div class="row">
        <div class="col-6">

            <form #form="ngForm" (ngSubmit)="addEmployee()">
              <div class="mb-3">
                <label for="name" class="form-label styled">First Name</label>
                <input type="text" class="form-control" id="name" 
                name="name" [(ngModel)]="newEmployee.firstName">
              </div>
              <div class="mb-3">
                <label for="name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="name" 
                name="name" [(ngModel)]="newEmployee.lastName">
              </div>
              <label for="DOB" class="form-label">Date of birth</label>
              <div class="row">
                <div class="col-md-3 col-md-offset-6">
                  <label class="control-label" for="day">Day</label>
                  <input class="form-control" id="day" name="day" type="number" [(ngModel)]="newEmployee.dob.day"></div>
                <div class="col-md-3 col-md-offset-6">
                 <label class="control-label" for="month">Month</label>
                 <input class="form-control" id="month" name="month" type="number" [(ngModel)]="newEmployee.dob.month"></div>
                <div class="col-md-3 col-md-offset-6">
                 <label class="control-label" for="year">Year</label>
                 <input class="form-control" id="year" name="year" type="number"  [(ngModel)]="newEmployee.dob.year" ></div>   
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email"  placeholder="Enter email"
                  name="email" [(ngModel)]="newEmployee.email">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="number" class="form-control" id="phone" placeholder="Enter phone number"
                    name="phone" [(ngModel)]="newEmployee.phone">
                  </div>
                  <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" 
                    name="city" [(ngModel)]="newEmployee.address.city">
                  </div>
                  <div class="mb-3">
                    <label for="street" class="form-label">Street</label>
                    <input type="text" class="form-control" id="street" 
                    name="street" [(ngModel)]="newEmployee.address.street">
                  </div>
                  <div class="mb-3">
                    <label for="number" class="form-label">Number</label>
                    <input type="number" class="form-control" id="number" 
                    name="number" [(ngModel)]="newEmployee.address.number">
                  </div>
                  <div class="mb-3">
                    <label for="salary" class="form-label">Salary</label>
                    <input type="number" class="form-control" id="salary" placeholder="Enter salary"
                    name="salary" [(ngModel)]="newEmployee.salary">
                  </div>
                  <button *ngIf="!inputSwitch" (click)="toggle()">Existing Department</button>
                  <button *ngIf="inputSwitch" (click)="toggle()">New Department</button>
                  <div class="mb-3" *ngIf="inputSwitch">
                    <label for="department" class="form-label">Choose Department</label>
                    <select class="form-control"  id="department"
                            [(ngModel)]="newEmployee.department" name="department">
                      <option *ngFor="let dep of departments" [value]="dep.name">{{dep.name}}</option>
                    </select>
                  </div>
                  <div class="mb-3"  *ngIf="!inputSwitch">
                    <label for="department" class="form-label">New Department</label>
                    <input type="text" class="form-control" id="department" placeholder="Enter new department"
                    name="department" [(ngModel)]="newEmployee.department">
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>